extends base

block unique-content
  header.navigation-header.r__navigation-header
    i.fas.fa-window-close.navigation-close-icon.r__navigation-close-icon 
    .navigation-header__container.r__navigation-header__container
      .navigation-header__container__ring.r__navigation-header__container__ring
        nav.navigation-header__container__ring__navigation.r__navigation-header__container__ring__navigation
          a(href="#").navigation-header__container__ring__navigation__link.r__navigation-header__container__ring__navigation__link
            p.navigation-header__container__ring__navigation__link__text.r__navigation-header__container__ring__navigation__link__text Home
          a(href="#").navigation-header__container__ring__navigation__link.r__navigation-header__container__ring__navigation__link
            p.navigation-header__container__ring__navigation__link__text.r__navigation-header__container__ring__navigation__link__text About
          a(href="#").navigation-header__container__ring__navigation__link.r__navigation-header__container__ring__navigation__link
            p.navigation-header__container__ring__navigation__link__text.r__navigation-header__container__ring__navigation__link__text Portfolio
          a(href="#").navigation-header__container__ring__navigation__link.r__navigation-header__container__ring__navigation__link
            p.navigation-header__container__ring__navigation__link__text.r__navigation-header__container__ring__navigation__link__text Resume
          a(href="#").navigation-header__container__ring__navigation__link.r__navigation-header__container__ring__navigation__link
            p.navigation-header__container__ring__navigation__link__text.r__navigation-header__container__ring__navigation__link__text Contact
  section.pentagon.r__pentagon
    .pentagon__inside-ring.r__pentagon__inside-ring
      section.pentagon-side.r__pentagon-side
        section.grid.r__grid
          section.flex-container--home.r__flex-container--home.column_1-24.row_1-18.night--sky
            section.hero-container.r__hero-container
              h1.full-name.r__full-name Nathan Cluff 
              h3.position.r__position #{data.data.position}
              button.button--cta.r__button--cta.button--hero.r__button--hero 
                p.button--cta__text.r__button--cta__text View Projects
    .pentagon__inside-ring.r__pentagon__inside-ring
      section.pentagon-side.r__pentagon-side
        section.grid.r__grid
          section.flex-container--about.r__flex-container--about.column_1-24.row_1-18
            .about-flex-container.r__about-flex-container
              section.about-flex-container__introduction-container.r__about-flex-container__introduction-container
                .about-flex-container__introduction-container__picture-frame.r__about-flex-container__introduction-container__picture-frame
                  img.about-flex-container__introduction-container__picture-frame__picture.r__about-flex-container__introduction-container__picture-frame__image(src="/DIST/CSS/Images/MyPhoto.jpg", alt="Headshot of Nathan Cluff")
                .about-flex-container__introduction-container__button-container.r__about-flex-container__introduction-container__button-container
                  button.button--cta.r__button--cta
                    p.button--cta__text.r__button--cta__text Contact Me
                  button.button--cta.r__button--cta
                    p.button--cta__text.r__button--cta__text Work With Me
              section.about-flex-container__information-container.r__about-flex-container__information-container
                .about-flex-container__information-container__left-door.r__about-flex-container__information-container__left-door
                .about-flex-container__information-container__right-door.r__about-flex-container__information-container__right-door
                button.button--cta.r__button--cta.button--about-doors.r__button--about-doors.open
                  p.button--cta__text.r__button--cta__text Click To Open
                section.about-flex-container__information-container__slide.r__about-flex-container__information-container__slide
                  .about-flex-container__information-container__slide__header.r__about-flex-container__information-container__slide__header
                    h3.about-flex-container__information-container__slide__header__text.r__about-flex-container__information-container__slide__header__text About Me
                  .about-flex-container__information-container__slide__container.r__about-flex-container__information-container__slide__container
                    .about-flex-container__information-container__slide__container__text-container.r__about-flex-container__information-container__slide__container__text-container
                      p.about-flex-container__information-container__slide__container__text-container__text.r__about-flex-container__information-container__slide__container__text-container__text= `Growing up, I have always had a passion for data, numbers, technology, and beingcreative.  That led to a deep interest in either Architecture or Software Engineering.  Keeping this on topic, this led me to ask my cousin with a degree in computer science how I should start.  I was introduced to web development.  For me, that, and my aforementioned passions, naturally led me to full stack development.`
                      p.about-flex-container__information-container__slide__container__text-container__text.r__about-flex-container__information-container__slide__container__text-container__text= `Beyond programming, my passions are in sports, graphic design, camping, and just building memories with my wife and children.  If you want to work with me, or just be friends, feel free to reach out!`
                    button.button--cta.r__button--cta 
                      p.button--cta__text.r__button--cta__text Contact Me
                section.about-flex-container__information-container__slide.r__about-flex-container__information-container__slide
                  .about-flex-container__information-container__slide__header.r__about-flex-container__information-container__slide__header
                    h3.about-flex-container__information-container__slide__header__text.r__about-flex-container__information-container__slide__header__text Skills
                  .about-flex-container__information-container__slide__container.r__about-flex-container__information-container__slide__container
                    .about-flex-container__information-container__slide__container__button-nav-container.r__about-flex-container__information-container__slide__container__button-nav-container
                    - const skills = [{skillType: `Languages`, skills: [`HTML`, `CSS`, `JavaScript`]}, {skillType: `Pre-Processors`, skills: [`Less`, `SCSS`]}, {skillType: `Frameworks`, skills: [`Bootstrap`, `Vue.js`, `React.js`, `Node.js`, `Express.js`]}, {skillType: `Bundlers`, skills: [`Webpack`, `Parcel`]}, {skillType: `Databases`, skills: [`MongoDB`]}, {skillType: `Testing`, skills: [`Playwright`]}, {skillType: `Project Managers`, skills: [`Asana`, `ToDoist`]}, {skillType: `Version Control`, skills: [`Git`, `GitHub`]}, {skillType: `Operating Systems`, skills: [`Windows`, `Linux`, `Mac`]}]
                      each skillSet in skills
                        .about-flex-container__information-container__slide__container__inner-slide.r__about-flex-container__information-container__slide__container__inner-slide
                          header.about-flex-container__information-container__slide__container__inner-slide__header.r__about-flex-container__information-container__slide__container__inner-slide__header
                            h4.about-flex-container__information-container__slide__container__inner-slide__header__text.r__about-flex-container__information-container__slide__container__inner-slide__header__text=`${skillSet.skillType}`
                          .about-flex-container__information-container__slide__container__inner-slide__skill-container.r__about-flex-container__information-container__slide__container__inner-slide__skill-container
                            each skill in skillSet.skills
                              p.about-flex-container__information-container__slide__container__inner-slide__skill-container__skill= `${skill}`
                .about-flex-container__information-container__button-container.r__about-flex-container__information-container__button-container
    .pentagon__inside-ring.r__pentagon__inside-ring
      section.pentagon-side.r__pentagon-side
        section.grid.r__grid
          section.flex-container--projects.r__flex-container--projects.column_1-24.row_1-18
            - let projects = data.data.projects
            each project in projects
              section.project-container.r__project-container 
                img(src=`${project.coverPhoto}`, alt=`${project.title} Cover Photo`)
                section.project-container__name-container.r__project-container__name-container
                  h2.project-container__name-container__name.r__project-container__name-container__name= project.title
                  section.project-container__name-container__link-container.r__project-container__name-container__link-container 
                    a.button--cta.r__button--cta(href=`${project.link}` target='_blank')
                      p.button--cta__text.r__button--cta__text View Code
                    a.button--cta.r__button--cta(href=`${project.code}` target='_blank')
                      p.button--cta__text.r__button--cta__text View Site
    .pentagon__inside-ring.r__pentagon__inside-ring
      section.pentagon-side.r__pentagon-side
        section.grid.r__grid
          section.flex-container--resume.r__flex-container--resume.column_1-24.row_1-18
            .resume-container.r__resume-container 
              .resume-contiainer__personal-info-container.r__resume-container__personal-info-container
                .resume-container__personal-info-container__name-container.r__resume-container__personal-info-container__name-container 
                  p.resume-container__personal-info-container__name-container__full-name.r__resume-container__personal-info-container__name-container__full-name
                    span.resume-container__personal-info-container__name-container__full-name__first-name.r__resume-container__personal-info-container__name-container__full-name__first-name= `${data.data.developer.split(' ')[0]}`
                    |   #{data.data.developer.split(' ')[1]}
                  p.resume-container__personal-info-container__name-container__position.r__resume-container__personal-info-container__name-container__position #{data.data.position}
                .resume-container__personal-info-container__contact-container.r__resume-container__personal-info-container__contact-container 
                  h3.resume-container__personal-info-container__contact-container__header.r__resume-container__personal-info-container__contact-container__header Contact 
                  p.resume-container__personal-info-container__contact-info.r__resume-container__personal-info-container__contact-info #{data.data['contact-info'].email}
                  p.resume-container__personal-info-container__contact-info.r__resume-container__personal-info-container__contact-info #{data.data['contact-info'].phone}
                  p.resume-container__personal-info-container__contact-info.r__resume-container__personal-info-container__contact-info #{data.data['contact-info'].location}
                  p.resume-container__personal-info-container__contact-info.r__resume-container__personal-info-container__contact-info #{data.data.profileLinks.LinkedIn}
                  p.resume-container__personal-info-container__contact-info.r__resume-container__personal-info-container__contact-info #{data.data.profileLinks.Github}
                  p.resume-container__personal-info-container__contact-info.r__resume-container__personal-info-container__contact-info #{data.data.projects[0].link}
                .resume-container__personal-info-container__education-container.r__resume-container__personal-info-container__education-container 
                  h3.resume-container__personal-info-container__education-container__header.r__resume-container__personal-info-container__education-container__header Education
                  h4.resume-container__personal-info-container__education-container__degree.r__resume-container__personal-info-container__education-container__degree GED
                  p.resume-container__personal-info-container__education-container__degree-info.r__resume-container__personal-info-container__education-container__degree-info Homeschool | August 2002 - May 2006
                .resume-container__personal-info-container__certificate-container.r__resume-container__personal-info-container__certificate-container
                  h3.resume-container__personal-info-container__certificate-container__header.r__resume-container__personal-info-container__certificate-container__header Certificates
                  .resume-container__personal-info-container__certificate-container__certificate.r__resume-container__personal-info-container__certificate-container__certificate 
                    h4.resume-container__personal-info-container__certificate-container__certificate__title.r__resume-container__personal-info-container__certificate-container__certificate__title HTML | CSS 
                    p.resume-container__personal-info-container__certificate-container__certificate__info.r__resume-container__personal-info-container__certificate-container__certificate__info TestDome | Issued November 2021
                    h4.resume-container__personal-info-container__certificate-container__certificate__title.r__resume-container__personal-info-container__certificate-container__certificate__title JavaScript
                    p.resume-container__personal-info-container__certificate-container__certificate__info.r__resume-container__personal-info-container__certificate-container__certificate__info TestDome | Issued November 2021
                    h4.resume-container__personal-info-container__certificate-container__certificate__title.r__resume-container__personal-info-container__certificate-container__certificate__title Node.js
                    p.resume-container__personal-info-container__certificate-container__certificate__info.r__resume-container__personal-info-container__certificate-container__certificate__info TestDome | Issued November 2021
                .resume-container__personal-info-container__skill-container.r__resume-container__personal-info-container__skill-container
                  h3.resume-container__personal-info-container__skill-container__header.r__resume-container__personal-info-container__skill-container__header Skills
                  .resume-container__personal-info-container__skill-container__skills-one.r__resume-container__personal-info-container__skill-container__skills-one
                  - let numberOfSkills = 21
                    each skill, index in data.data.about[2].skills 
                      if index < numberOfSkills 
                        p.resume-container__personal-info-container__skill-container__skills-one__skill.r__resume-container__personal-info-container__skill-container__skills-one__skill #{skill.title}
                  .resume-container__personal-info-container__skill-container__skills-two.r__resume-container__personal-info-container__skill-container__skills-two
                    each skill, index in data.data.about[2].skills 
                      if index > numberOfSkills - 1 
                        p.resume-container__personal-info-container__skill-container__skills-one__skill.r__resume-container__personal-info-container__skill-container__skills-one__skill #{skill.title}
                .resume-container__personal-info-container__personal-project-container.r__resume-container__personal-info-container__personal-project-container
                  h3.resume-container__personal-info-container__personal-project-container__header.r__resume-container__personal-info-container__personal-project-container__header Personal Projects 
                  ul.resume-container__personal-info-container__personal-project-container__project-list.r__resume-container__personal-info-container__personal-project-container__project-list 
                    li.resume-container__personal-info-container__personal-project-container__project-list__list-item.r__resume-container__personal-info-container__personal-project-container__project-list__list-item
                      h4.resume-container__personal-info-container__personal-project-container__project-list__list-item__title.r__resume-container__personal-info-container__personal-project-container__project-list__list-item__title #{data.data.projects[1].title}
                      p.resume-container__personal-info-container__personal-project-container__project-list__list-item__description.r__resume-container__personal-info-container__personal-project-container__project-list__list-item__description #{data.data.projects[1].description}
                    li.resume-container__personal-info-container__personal-project-container__project-list__list-item.r__resume-container__personal-info-container__personal-project-container__project-list__list-item
                      h4.resume-container__personal-info-container__personal-project-container__project-list__list-item__title.r__resume-container__personal-info-container__personal-project-container__project-list__list-item__title #{data.data.projects[2].title}
                      p.resume-container__personal-info-container__personal-project-container__project-list__list-item__description.r__resume-container__personal-info-container__personal-project-container__project-list__list-item__description #{data.data.projects[2].description}

              .resume-contiainer__work-info-container.r__resume-container__work-info-container
    .pentagon__inside-ring.r__pentagon__inside-ring
      section.pentagon-side.r__pentagon-side
        section.grid.r__grid
          section.flex-container--contact.r__flex-container--contact.column_1-24.row_1-18
            h1 Contact Page
  