extends base

block connection-links
  section.connection-container.r__connection-container
    p.connect-navigation__pre-text.r__connect-navigation__pre-text Connect
    button.button--circle__extra-small.r__button--circle__extra-small.navigation-connection-button.r__navigation-connection-button
      i.fas.fa-angle-left.button--circle__extra-small__icon
    section.connect--navigation.r__connect--navigation.pseudo-after-full-width
      ul.connect--navigation__link-list.r__connect--navigation__link-list 
        li.connect--navigation__link-list__link-item.r__connect--navigation__link-list__link-item
          a.connect--navigation__link-list__link-item__link.r__connect--navigation__link-list__link-item__link(href=`https://www.linkedin.com/in/ncluff003`)
            i.fab.fa-linkedin
        li.connect--navigation__link-list__link-item.r__connect--navigation__link-list__link-item
          a.connect--navigation__link-list__link-item__link.r__connect--navigation__link-list__link-item__link(href=`https://github.com/ncluff003`)
            i.fab.fa-github-square
        li.connect--navigation__link-list__link-item.r__connect--navigation__link-list__link-item
          a.connect--navigation__link-list__link-item__link.r__connect--navigation__link-list__link-item__link(href=`https://codepen.io/ncluff3`)
            i.fab.fa-codepen
        li.connect--navigation__link-list__link-item.r__connect--navigation__link-list__link-item
          a.connect--navigation__link-list__link-item__link.r__connect--navigation__link-list__link-item__link(href=`https://t.me/ncluff003`)  
            i.fab.fa-telegram-plane

block unique-content
  section.selected-blog-post.r__selected-blog-post.column_9-8.row_2-22
    section.blog-header.r__blog-header
      p.blog-date.r__blog-date= `${new Date(new Date(data.post.date).setHours(new Date(data.post.date).getHours() + new Date(data.post.date).getTimezoneOffset() / 60)).getDate()} ${data.calendar.getMonth()} ${new Date(data.post.date).getFullYear()}`
      p.blog-title.r__blog-title= data.blog.title
      p.blog-post-title.r__blog-post-title= data.post.title
    section.blog-content-container.r__blog-content-container 
      section.blog-content.r__blog-content