block unique-content
  section.pentagon-side.r__pentagon-side
    section.grid.r__grid
      section.flex-container--projects.r__flex-container--projects.column_1-24.row_1-18
        - let projects = data.data.projects
        each project in projects
          section.project-container.r__project-container 
            img(src=`${project.coverPhoto}`, alt=`${project.title} Cover Photo`)
            section.project-container__name-container.r__project-container__name-container
              h2.project-container__name-container__name.r__project-container__name-container__name= project.title
              section.project-container__name-container__link-container.r__project-container__name-container__link-container 
                a.button--cta.r__button--cta(href=`${project.link}` target='_blank')
                  p.button--cta__text.r__button--cta__text View Code
                a.button--cta.r__button--cta(href=`${project.code}` target='_blank')
                  p.button--cta__text.r__button--cta__text View Site